.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  height: 100%;
}



.wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
}

.number {
  composes: mb-10 text text_type_digits-default from global;
  text-align: center;
}

.date {
  composes: text text_type_main-default text_color_inactive from global;
}

.titleWrapper {
  composes: mb-15 from global;
}

.title {
  composes: mb-3 text text_type_main-medium from global;
}

.structure {
  composes: mb-6 text text_type_main-medium from global;

}

.status {
  composes: text text_type_main-default from global;
}

.statusDone {
  composes: status;
  color: #00CCCC;
}

.listWrapper {
  overflow: hidden;
  margin: 0 0 40px;
  height: 100%;
}

.list {
  list-style-type: none;
  padding: 0 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
}

.list::-webkit-scrollbar {
  background-color: #2f2f37;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.list li:last-child {
  margin-bottom: 0;
}


.list li img {
  object-fit: cover;
  width: 85%;
  height: 85%;
}

.imageWrapper {
  width: 64px;
  height: 64px;
  background: #131316;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #801AB3;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: mr-4 from global;
  flex: 0 0 64px;
}

.price {
  composes: text text_type_digits-default from global;
  display: flex;
}


.ingredientTitle {
  composes: mr-4 text text_type_main-default from global;
  flex: 1 1 auto;
}

.ingredientSum {
  margin-right: 9px;
}