.burgerConstructor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  composes: pt-25 pl-4 from global;
  /* overflow: hidden; */
  justify-content: flex-end;
  width: 100%;
}
.constructorWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  composes: mb-10 from global;
}

.total {
  align-self: flex-end;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.price {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.priceNumber {
  composes: text text_type_digits-medium from global;
}
.currencyIcon {
  display: flex;
  align-items: center;
}
.currencyIcon svg {
  width: 33px;
  height: 33px;
}
.loader {
  color: #4c4cff !important;
}
