.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  composes: pl-5 pr-5 pt-4 pb-4 from global;
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
}
