.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 272px;
  cursor: pointer;
  position: relative;
}
.cardImage {
  composes: pr-4 pl-4 from global;
  display: inline-block;
  box-sizing: border-box;
}
.price {
  composes: pt-1 pb-1 text text_type_digits-default from global;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.count {
  position: absolute;
  top: 0;
  right: 16px;
}
