.header {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  composes: pb-4 pt-4 from global;
  background-color: #1c1c21;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
